div.mdl-grid.mdl-grid--no-spacing
    div.mdl-cell.mdl-cell--6-col#map-place
    div.mdl-cell.mdl-cell--6-col.mdl-color--orange-900.mdl-color-text--orange-100.place-global
        h2=__('page.parish.place.title')
        each place, index in parish.places
            div.place(class=index === 0 ? "":"hide", data-lat=place.lat, data-lng=place.lng,id="map-place-"+place.id)
                h3=place.name
                p=place.address
                